[Unit]
Description = Backend Service

[Service]
User=expense
Environment=DB_HOST=mysql.pramod.shop
Environment=DB_USER=expense
Environment=DB_PASS=ExpenseApp@1
Environment=DB_NAME=transactions
ExecStart=/bin/node /app/index.js
SyslogIdentifier=backend

[Install]
WantedBy=multi-user.target